{% extends '_base.twig' %}

{% block title %}OSVČ → HPP{% endblock %}

{% block content %}
<form>
    <div class="grid-container">
        <section class="nadpis"> 
            <h1>IČO → HPP</h1>
            <p>Kalkukačka pro ty, kdo potřebují porovnat práci jako zaměstnanec a na IČO s hodinovou mzdou – a mají třeba pocit, jak je IČO výhodné a jak se budou topit v penězích… než začnou pořádně počítat.</p>
            <p>Předpokládá, že člověk využívá daňový paušál a není plátce DPH.</p>
        </section>

        <noscript>
        <p class="error">Tahle kalkulačka funguje pomocí JavaScriptu, který nemáte/nemáte zapnutý. Sorry jako.</p>
        </noscript>

        <section class="zaklad"> 
            <h2>Základní údaje</h2>

            <div class="form-group d-none">
                <label for="dnyPracovniVRoce" class="form-label">Pracovních dní v roce</label>
                <input type="number" readonly class="form-control-plaintext" name="dnyPracovniVRoce" id="dnyPracovniVRoce" value="2510" required>
            </div>
            <div class="form-group">
                <label for="dovolena" class="form-label">Dní dovolené</label>
                <input type="number"  class="form-control form-control-small" name="dovolena" id="dovolena" value="20" min="0" max="250" required>
                <small class="form-text text-muted">Kolik pracovních dní dovolené si chcete dopřát?</small>
            </div>
            <div class="form-group d-none">
                <label for="dnyRealnePracovni" class="form-label">Dní k dispozici</label>
                <input type="number" readonly class="form-control-plaintext" value="231" name="dnyRealnePracovni" id="dnyRealnePracovni">
                <small class="form-text text-muted">Tolik dní je reálně k dispozici k práci (pracovní dny bez dovolené).</small>
            </div> 
            <div class="form-group">
                <label for="hodinovka" class="form-label">Hodinová mzda [Kč/h]</label>
                <input type="number" class="form-control form-control-small" name="hodinovka" id="hodinovka" value="300" step="5" min="80" max="10000" required>
            </div>
            <div class="form-group">
                <label for="hodinDenne" class="form-label">Denně hodin práce</label>
                <input type="number"  class="form-control form-control-small" name="hodinDenne" id="hodinDenne" value="5" min="0" max="16" required>
                <small class="form-text text-muted">Kolik hodin práce denně odpracujete?<br>Fakturované i nefakturované hodiny dohromady.</small>
            </div>
            <div class="form-group">
                <label for="nefakturovano" class="form-label">z toho je nefakturovaných</label><br>
                <input type="number" class="form-control form-control-small custom-control-inline" name="nefakturovano" id="nefakturovano" value="80" min="0" required>
                <label for="nefakturovanoJednotka" class="form-label">hodin</label>
                <select class="form-control form-control-small custom-control-inline" name="nefakturovanoJednotka" id="nefakturovanoJednotka">
                    <option value="y">ročně</option>
                    <option value="m">měsíčně</option>
                    <option value="d">denně</option>
                </select>
            </div> 
            <div class="form-group d-none">
                <label for="nefakturovanoRocne" class="form-label">ročně</label>
                <input type="number" readonly class="form-control-plaintext" name="nefakturovanoRocne" id="nefakturovanoRocne" min="0">
            </div> 
        </form>
            {# <p class="error" id="valiNefa1">Zadali jste vyšší počet nefakturovaných hodin, než je možné v zadaném čase odvést.<br>Zkontrolujte, kolik hodin chcete denně pracovat a kolik z toho fakturovat.</p>
            <p class="error" id="valiNefa2">Snažíte se pracovat zdarma stejně nebo více hodin, než pracujete celkem.</p> #}
        </section>

        <section class="stat">
            <h2>Vaše příjmy a daně</h2>

            <div class="form-group d-none">
                <label for="prijmy" class="form-label">Příjmy [Kč]</label>
                <input type="number" readonly class="form-control-plaintext" name="prijmy" id="prijmy" value="322500">
            </div>
            <div class="form-group">
                <p class="form-label">Paušál, podle kterého své příjmy daníte:</p>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="pausal30" name="pausal" value="0.30" class="custom-control-input">
                    <label class="custom-control-label" for="pausal30">30 %</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="pausal40" name="pausal" value="0.40" class="custom-control-input">
                    <label class="custom-control-label" for="pausal40">40 %</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="pausal60" name="pausal" value="0.60" class="custom-control-input" checked>
                    <label class="custom-control-label" for="pausal60">60 %</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="pausal80" name="pausal" value="0.80" class="custom-control-input">
                    <label class="custom-control-label" for="pausal80">80 %</label>
                </div>
                <small class="form-text text-muted">Jaký daňový paušál uplatňujete? <a href="http://www.jakpodnikat.cz/pausalni-vydaje-procentem.php">Nevíte-li, zjistěte.</a></small>
            </div>
            <div class="form-group d-none">
                    <label for="pausalNum" class="form-label">Číselná hodnota paušálu</label>
                    <input type="number" readonly class="form-control-plaintext" name="danNaklady" id="pausalNum">
                </div> 
            <div class="form-group d-none">
                <label for="danNaklady" class="form-label">Daňově uzn. náklady [Kč]</label>
                <input type="number" readonly class="form-control-plaintext" name="danNaklady" id="danNaklady" value="322500">
            </div> 
            <div class="form-group">
                <label for="odecitatelne" class="form-label">Odečitatelné položky [Kč]</label>
                <input type="number" class="form-control form-control-small" name="odecitatelne" id="odecitatelne" value="0">
                <small class="form-text text-muted">Dary, krev, pojištění…</small>
            </div> 
            <div class="form-group d-none">
                <label for="zakladDane" class="form-label">Základ daně [Kč]</label>
                <input type="number" readonly class="form-control-plaintext" name="zakladDane" id="zakladDane" value="0">
            </div> 
            <div class="form-group d-none">
                <label for="slevaPoplatnik" class="form-label">Sleva na poplatníka [Kč]</label>
                <input type="number" class="form-control form-control-small" name="slevaPoplatnik" id="slevaPoplatnik" value="24840">
            </div> 
            <div class="form-group">
                <label for="slevaDalsi" class="form-label">Další slevy [Kč]</label>
                <input type="number" class="form-control form-control-small" name="slevaDalsi" id="slevaDalsi" value="0">
                <small class="form-text text-muted">Školkovné…</a></small>
            </div> 
            <div class="form-group d-none">
                <label for="danSum" class="form-label">Daň [Kč]</label>
                <input type="number" readonly class="form-control-plaintext" name="danSum" id="danSum" value="0">
            </div> 
            <div class="form-group d-none">
                <label for="odvodySocialni" class="form-label">Sociální pojištění [Kč]</label>
                <input type="number" readonly class="form-control-plaintext" name="odvodySocialni" id="odvodySocialni" value="0">
            </div> 
            <div class="form-group d-none">
                <label for="odvodyZdravotni" class="form-label">Zdrav. pojištění [Kč]</label>
                <input type="number" readonly class="form-control-plaintext" name="odvodyZdravotni" id="odvodyZdravotni" value="0">
            </div> 
            <div class="form-group d-none">
                <label for="odvodySum" class="form-label">Odvody celkem [Kč]</label>
                <input type="number" readonly class="form-control-plaintext" name="odvodySum" id="odvodySum" value="0">
            </div> 
            <div class="form-group d-none">
                <label for="PrijmyPoZdaneni" class="form-label">Příjmy po zdanění [Kč]</label>
                <input type="number"  readonly class="form-control-plaintext" name="PrijmyPoZdaneni" id="PrijmyPoZdaneni" value="0">
            </div> 
        </section>

        <section class="odecist">
            <h2>Náklady a rezervy</h2>
            <div class="form-group">
                <label for="odecistNaklady" class="form-label">Roční náklady [Kč]</label>
                <input type="number" class="form-control form-control-small" name="odecistNaklady" id="odecistNaklady" min="0" value="0">
                <small class="form-text text-muted">Náklady na podnikání: pracovní nástroje a materiál, účetní, pojištění, doprava k zákazníkům…</small>
            </div> 
            <div class="form-group d-none">
                <label for="penezKPouziti" class="form-label">Peněz k dispozici [Kč]</label>
                <input type="number" readonly class="form-control-plaintext form-control-small" name="penezKPouziti" id="penezKPouziti" min="0" value="0">
                <small class="form-text text-muted">Kolik reálně po odečtení nákladů vyděláte?</small>
            </div> 
            <div class="form-group">
                <label for="odecistRezerva" class="form-label">Rezerva [měsíce]</label>
                <input type="number" class="form-control form-control-small" name="odecistRezerva" id="odecistRezerva" min="0" value="1.5" max="12" step="0.25" required>
                <small class="form-text text-muted">Zaměstnanec při výpovědi dostane odstupné.<br>Na jak velkou rezervu si chcete za rok uspořit vy?</small>
            </div> 
        </section>

        <section class="prehled">
            <h2>Kolik je to čistého</h2>
            <div class="form-group">
                <label for="cistehoRocne" class="form-label">Ročně [Kč]</label>
                <input type="number" readonly class="form-control-plaintext form-control-small" name="cistehoRocne" id="cistehoRocne" value="0">
            </div> 
            <div class="form-group">
                <label for="cistehoMesicne" class="form-label">Měsíčně [Kč]</label>
                <input type="number" readonly class="form-control-plaintext form-control-small" name="cistehoMesicne" id="cistehoMesicne" value="0">
            </div> 
            <div class="form-group">
                <label for="cistehoMD" class="form-label">Denně [Kč]</label>
                <input type="number" readonly class="form-control-plaintext form-control-small" name="cistehoMD" id="cistehoMD" value="0">
            </div> 
        </section>

        <section class="vysledek">
            <h2>Porovnání s HPP</h2>
            <div class="form-group">
                <label for="mzdaSuperhruba" class="form-label">Superhrubá mzda [Kč]</label>
                <input type="number" readonly class="form-control-plaintext form-control-small" name="mzdaSuperhruba" id="mzdaSuperhruba" value="0">
            </div> 
            <div class="form-group">
                <label for="mzdaHruba" class="form-label">Hrubého [Kč]</label>
                <input type="number" readonly class="form-control-plaintext form-control-small" name="mzdaHruba" id="mzdaHruba" value="0">
            </div> 
            <div class="form-group">
                <label for="mzdaCista" class="form-label">Čistého [Kč]</label>
                <input type="number" readonly class="form-control-plaintext form-control-small" name="mzdaCista" id="mzdaCista" value="0">
            </div> 
        </section>
        <section class="info">
            <small>Výpočet hrubé mzdy je orientační a nezohledňuje děti a další parametry.<br>Pro přesnou hodnotu zadejte vypočtenou čistou měsíční mzdu do kalkulátoru na Měšci nebo tak něco.</small>

        </section>
    </div>
</form>

{% endblock %}
