{% extends '_base.twig' %}

{% block title %}OSVČ → HPP{% endblock %}

{% block content %}

<div class="container">
    <h1>IČO → HPP</h1>
    <p>Krásný text o tom, co, proč a jak.</p>
</div>
    <form>
        <section class="zaklad"> 
            <div class="container">
                <h2>Kolik hodin odpracujete – a kolik si budete fakturovat</h2>
                <p>Zaměstnanec má zpravidla pracovní dobu jasnou. Jinak je to ale u živnostníka.<br>Budete fakturovat denně klasických 8 hodin, nebo jen hodiny opravdové intenzivní práce (většinou 5–6)?<br>Kolik dnů budete mít dovolenou, tedy volno, na které si musíte našetřit?<br>Kolik hodin strávíte nefakturovanou prací, ať už sháněním zákazníků, administrativou nebo třeba řešením daňového přiznání?</p>

                <div class="form-group row">
                    <label for="dnyPracovniVRoce" class="col-md-2 col-form-label col-form-label-md">Pracovních dní v roce</label>
                    <div class="col-md-2">
                        <input type="number" readonly class="form-control-plaintext form-control-md" name="dnyPracovniVRoce" id="dnyPracovniVRoce" value="251" required>
                    </div>
                    <label for="dovolena" class="col-md-2 col-form-label col-form-label-md">Dní dovolené</label>
                    <div class="col-md-1">
                        <input type="number"  class="form-control form-control-md" name="dovolena" id="dovolena" value="20" min="0" max="250" required>
                    </div>
                    <div class="col-md-1"></div>
                    <label for="dnyRealnePracovni" class="col-md-2 col-form-label col-form-label-md">Dní k dispozici</label>
                    <div class="col-md-1">
                        <input type="number" readonly class="form-control-plaintext form-control-md" value="231" name="dnyRealnePracovni" id="dnyRealnePracovni">
                    </div> 
                </div> 
                <div class="form-group row">
                    <label for="hodinovka" class="col-md-2 col-form-label col-form-label-md">Hodinová mzda [Kč/h]</label>
                    <div class="col-md-2">
                        <input type="number" class="form-control form-control-md" name="hodinovka" id="hodinovka" value="300" step="5" min="80" max="10000" required>
                    </div>
                    <label for="hodinDenne" class="col-md-2 col-form-label col-form-label-md">Denně hodin práce</label>
                    <div class="col-md-1">
                        <input type="number"  class="form-control form-control-md" name="hodinDenne" id="hodinDenne" value="5" min="0" max="16" required>
                    </div>
                    <div class="col-md-5"></div>
                </div> 
                <div class="form-group row">
                    <label for="nefakturovano" class="col-md-2 col-form-label col-form-label-md">Nefakturovaná práce</label>
                    <div class="col-md-2">
                        <input type="number" class="form-control form-control-md" name="nefakturovano" id="nefakturovano" value="80" min="0" required>
                    </div>
                    <label for="nefakturovanoJednotka" class="col-md-1 col-form-label col-form-label-md">hodin</label>
                    <div class="col-md-2">
                        <select class="form-control form-control-md" name="nefakturovanoJednotka" id="nefakturovanoJednotka">
                            <option value="ročně">ročně</option>
                            <option value="měsíčně">měsíčně</option>
                            <option value="denně">denně</option>
                        </select>
                    </div> 
                </div> 
            </div>
        </section>

        <section class="stat">
            <div class="container">
                <h2>Vaše příjmy – a kolik z nich odvedete státu</h2>

                <div class="form-group row">
                    <label for="prijmy" class="col-md-3 col-form-label col-form-label-md">Příjmy [Kč]</label>
                    <input type="number" readonly class="form-control-plaintext form-control-md col-md-2" name="prijmy" id="prijmy" value="322500">
                    <label for="pausal" class="col-md-1 col-form-label col-form-label-md">Paušál</label>
                    <select class="custom-select col-md-1"name="pausal" id="pausal" required>
                        <option value="0.6">60 %</option>
                        <option value="0.3">30 %</option>
                        <option value="0.4">40 %</option>
                        <option value="0.8">80 %</option>
                    </select>
                    <div class="col-md-1"></div>
                    <label for="danNaklady" class="col-md-2 col-form-label col-form-label-md">Daňově uzn. náklady [Kč]</label>
                    <input type="number" readonly class="form-control-plaintext form-control-md col-md-2" name="danNaklady" id="danNaklady" value="322500">
                </div> 
                
                <div class="form-group row">
                    <label for="odecitatelne" class="col-md-3 col-form-label col-form-label-md">Odečitatelné položky [Kč]</label>
                    <input type="number" class="form-control form-control-md col-md-2" name="odecitatelne" id="odecitatelne" value="0">
                    <div class="col-md-12"></div>
                    <label for="zakladDane" class="col-md-3 col-form-label col-form-label-md">Základ daně [Kč]</label>
                    <input type="number" readonly class="form-control-plaintext form-control-md col-md-2" name="zakladDane" id="zakladDane" value="0">
                </div> 

                <div class="form-group row">
                    <label for="slevaPoplatnik" class="col-md-2 col-form-label col-form-label-md">Sleva na poplatníka [Kč]</label>
                    <input type="number" readonly class="form-control-plaintext form-control-md col-md-2" name="slevaPoplatnik" id="slevaPoplatnik" value="24840">
                    <label for="slevaDalsi" class="col-md-2 col-form-label col-form-label-md">Další slevy [Kč]</label>
                    <input type="number" class="form-control form-control-md col-md-2" name="slevaDalsi" id="slevaDalsi" value="0">
                    <label for="danSum" class="col-md-2 col-form-label col-form-label-md">Daň [Kč]</label>
                    <input type="number" readonly class="form-control-plaintext form-control-md col-md-2" name="danSum" id="danSum" value="0">
                </div> 

                <div class="form-group row">
                    <label for="odvodySocialni" class="col-md-2 col-form-label col-form-label-md">Sociální pojištění [Kč]</label>
                    <input type="number" readonly class="form-control-plaintext form-control-md col-md-2" name="odvodySocialni" id="odvodySocialni" value="0">
                    <label for="odvodyZdravotni" class="col-md-2 col-form-label col-form-label-md">Zdrav. pojištění [Kč]</label>
                    <input type="number" readonly class="form-control-plaintext form-control-md col-md-2" name="odvodyZdravotni" id="odvodyZdravotni" value="0">
                    <label for="odvodySum" class="col-md-2 col-form-label col-form-label-md">Odvody celkem [Kč]</label>
                    <input type="number" readonly class="form-control-plaintext form-control-md col-md-2" name="odvodySum" id="odvodySum" value="0">
                </div> 
                <div class="form-group row">
                    <label for="PrijmyPoZdaneni" class="col-md-2 col-form-label col-form-label-md">Příjmy po zdanění [Kč]</label>
                    <input type="number"  readonly class="form-control-plaintext form-control-md col-md-2" name="PrijmyPoZdaneni" id="PrijmyPoZdaneni" value="0">
                </div> 
            </div>
        </section>

        <section class="odecist">
            <div class="container">
                <h2>Náklady – aneb co ještě musíme odečíst</h2>
                <div class="form-group row">
                    <label for="odecistNaklady" class="col-md-2 col-form-label col-form-label-md">Roční náklady [Kč]</label>
                    <input type="number" class="form-control form-control-md col-md-2" name="odecistNaklady" id="odecistNaklady" min="0" value="0">
                    <label for="odecistNaklady" class="col-md-8 col-form-label col-form-label-md">(pracovní nástroje, účetní, pojištění, doprava k zákazníkům,…)</label>
                </div> 
                <div class="form-group row">
                    <label for="penezKPouziti" class="col-md-2 col-form-label col-form-label-md">Peněz k dispozici [Kč]</label>
                    <input type="number" readonly class="form-control-plaintext form-control-md col-md-2" name="penezKPouziti" id="penezKPouziti" min="0" value="0">
                    <label for="penezKPouziti" class="col-md-8 col-form-label col-form-label-md">(kolik reálně po odečtení nákladů vyděláte)</label>
                </div> 
                <div class="form-group row">
                    <label for="odecistRezerva" class="col-md-2 col-form-label col-form-label-md">Rerezva [měsíce]</label>
                    <input type="number" class="form-control form-control-md col-md-2" name="odecistRezerva" id="odecistRezerva" min="0" value="1.5" max="12" step="0.25" required>
                    <label for="odecistRezerva" class="col-md-8 col-form-label col-form-label-md">(finanční rezerva jako kompenzace odstupného při výpovědi)</label>
                </div> 
                
            </div>
        </section>

        <section class="prehled">
            <div class="container">
                <h2>Kolik je to čistého</h2>
                <div class="form-group row">
                    <label for="cistehoRocne" class="col-md-2 col-form-label col-form-label-md">Ročně [Kč]</label>
                    <div class="col-md-2">
                        <input type="number" readonly class="form-control-plaintext form-control-md" name="cistehoRocne" id="cistehoRocne" value="0">
                    </div>
                    <label for="cistehoMesicne" class="col-md-2 col-form-label col-form-label-md">Měsíčně [Kč]</label>
                    <div class="col-md-2">
                        <input type="number" readonly class="form-control-plaintext form-control-md" name="cistehoMesicne" id="cistehoMesicne" value="0">
                    </div>
                    <label for="cistehoMD" class="col-md-2 col-form-label col-form-label-md">Denně [Kč]</label>
                    <div class="col-md-2">
                        <input type="number" readonly class="form-control-plaintext form-control-md" name="cistehoMD" id="cistehoMD" value="0">
                    </div> 
                </div> 
            </div>
        </section>

        <section class="vysledek">
            <div class="container">
                <h2>Porovnání s měsíční mzdou při HPP</h2>
                <p>Zadaná hodinovka na IČO zhruba odpovídá následující měsíční mzdě na HPP. Výpočet je orientační a nezohledňuje děti a další parametry, pro přesnou hodnotu zadejte vypočtenou čistou měsíční mzdu do kalkulátoru na Měšci nebo tak něco.</p>

                <div class="form-group row">
                    <label for="mzdaSuperhruba" class="col-md-2 col-form-label col-form-label-md">Superhrubá mzda [Kč]</label>
                    <div class="col-md-2">
                        <input type="number" readonly class="form-control-plaintext form-control-md" name="mzdaSuperhruba" id="mzdaSuperhruba" value="0">
                    </div>
                    <label for="mzdaHruba" class="col-md-2 col-form-label col-form-label-md">Hrubého [Kč]</label>
                    <div class="col-md-2">
                        <input type="number" readonly class="form-control-plaintext form-control-md" name="mzdaHruba" id="mzdaHruba" value="0">
                    </div>
                    <label for="mzdaCista" class="col-md-2 col-form-label col-form-label-md">Čistého [Kč]</label>
                    <div class="col-md-2">
                        <input type="number" readonly class="form-control-plaintext form-control-md" name="mzdaCista" id="mzdaCista" value="0">
                    </div> 
                </div> 
            </div>
        </section>
    </form>


<div class="container">
</div>
{% endblock %}
