h2 {
    margin-bottom: 0.75em;
}

.form-control-small {
    width: 8em;
}

// input:invalid {
//     background-color: #C84630;
//     color: #270722;
//     font-weight: 700;
// } 

.grid-container {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-auto-rows: minmax(10rem, auto);
    grid-row-gap: 4rem;
}

.error {
    display: none;
    background-color: $danger;
    font-weight: 700;
    padding: 0.5em;
}


// Sekce

.nadpis {
    grid-column: 1 / 4;
    grid-row: 1;
}

.zaklad {
    grid-column: 1;
    grid-row-start: 2;
    grid-row-end: 3;
}

.stat {
    grid-column: 2;
    grid-row: 2;
}

.odecist {
    grid-column: 3;
    grid-row: 2;
}

.prehled {
    grid-column: 1;
    grid-row: 3;
}

.vysledek {
    grid-column: 2;
    grid-row: 3;
}


